* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.header {
  background-image: url("background-image.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 100svh;
  position: relative;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(2px);
  opacity: 0.2;
}


.search-complete {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  color: rgb(221, 115, 115);
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0); 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.content {
  z-index: 2;
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(179, 229, 224, 0.1);
  padding: 30px 35px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

h1 {
  margin-block: 2rem;
  border-top: solid 2px #4A6B66;
  border-bottom: solid 2px #4A6B66;
  padding-block: 0.5rem;
  margin-bottom: 4rem;
  color: #294844;  
}

form {
  margin-bottom: 20px;

}

input[type="text"] {
  padding: 8px;
  width: 200px;
  border-radius: 15px 0px 0px 15px;
  border: solid 2px #4A6B66;
  margin-right: 0px;
}

button {
  padding: 8px 16px;
  margin-left: 0px;
  height: 35px;
  background-color: #4A6B66;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
}

#filters {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  color: #294844;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: solid 1px #4A6B66;
}

main {
  padding: 20px;
}

.recipe-card {
  background-color: #f9f9f9;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
}

.recipe-card h2 {
  margin-top: 0;
  color: #294844;
}

.recipe-card p {
  margin: 5px 0;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
}
